body {
  margin: 0;
  font-family: garamond;
  font-size: 1.1em;
}

h1 {
  text-align: center;
  padding-top: .5em;
}

h2 {
  padding-top: 30px;
}

pre {
  background-color: #42C0FB;
  color: #FFF;
  padding: 10px;
  font-size: 1.1em;
  line-height: 20px;
}

img {
  height: 174px;
  width: 258px;
}

table {
  margin-bottom: 2em;
}

#reference {
  height: 550px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

img {
  margin-left: 5em;
}